.selected {
    display: inline-block;
    border: 1px solid #717171;
    padding: 0.2rem 0.5rem;
    margin-right: 0.5rem;

    span {
        display: inline-block;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        padding: 0px;
        margin: 0.2rem 0rem 0.2rem 0.5rem;
        border: 1px solid #666;
        text-align: center;
        font: 22px Arial, sans-serif;
    }
}