$grey: #DBDBDB;

.reassign {
    .page-heading {
        padding: 15px;
        border-bottom: 1px solid $grey;
    }
    
    .page-body {
        padding: 15px;
    }
}

.selection-wrapper {
    display: flex;
}