<div class="container">
 Search: <app-searchfield [placeholder]="placeholder" (searchTrigger)="performFilter($event)"></app-searchfield>
  <div class="row col-sm-12">
    <button class="pull-right" [disabled]="selectedCardCount?.length<=0" (click)="personalise($event)">Personalise</button></div>

  <div class="row">
    <div class="col-lg-2 col-sm-6" *ngFor="let card of filteredCards | myfilter:true" #selectedcard>
      <app-cards [cardDetail]='card'></app-cards>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-lg-2 col-sm-6" *ngFor="let card of filteredCards | myfilter:false">
      <app-cards [cardDetail]='card'>
      </app-cards>
    </div>
  </div>

</div>