<div class="container">
<div class="row page-title"><div class="col-sm-6 "><h1>Sales Order</h1></div></div>
<ng-container *ngIf="!redirectView" >
    <app-order-list (redirectEvent)="onRedirect($event)" [refreshData] = "refeshData" [defaultFilter]="defaultFilter" [defaultFilterValue]="defaultFilterValue"></app-order-list>
</ng-container>
<ng-container *ngIf="redirectView" >
    <app-reassign [headerText] = "redirectHeaderText" [selectionText] = "selectedString" [selectionArray]="redirectSelectedArray" (redirectTrigger)="redirectTrigger()" (onCancelClick)="onCancel()"></app-reassign>
</ng-container>
</div>