<div class="container">
    <div class="row page-title" [hidden]="redirectView">
        <div class="col-sm-6 ">
            <h1>Sales Order</h1>
        </div>
    </div>
    <div [hidden]="redirectView">
        <app-order-list [responseKey]="responseKey" (redirectEvent)="onRedirect($event)" [refreshData]="refeshData" [defaultFilter]="defaultFilter" [defaultFilterValue]="defaultFilterValue"></app-order-list>
    </div>
    <ng-container *ngIf="redirectView">
        <app-reassign [parentCmp]= "parentCmp" [selectedKey]="selectedKey" [headerText]="redirectHeaderText" [selectionText]="selectedString" [selectionArray]="redirectSelectedArray"
            (redirectTrigger)="redirectTrigger()" (onCancelClick)="onCancel()"></app-reassign>
    </ng-container>
</div>