<div class="container">
  <table class="table">
    <thead>
      <tr>
        <ng-container *ngFor="let colDef of columnDefs">
          <th>
            <div (click)="triggerSort(colDef)">
              {{colDef.title}}
              <span *ngIf="showSortingOptions(colDef)">
                <span *ngIf="!reverseSort"><img src="../../assets/images/sort-up.png"></span>
              <span *ngIf="reverseSort"><img src="../../assets/images/sort-down.png"></span>
              </span>
            </div>
          </th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of gridData">
        <tr>
          <ng-container *ngFor="let colDef of columnDefs">
            <td>{{customTemplate(data,colDef)}}</td>
          </ng-container>
        </tr>
      </ng-container>

      <!--<tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>-->
      <ng-container *ngIf="gridData.length == 0">
        <td colspan="9">
          <p>{{noRecord}}</p>
        </td>
      </ng-container>
    </tbody>
  </table>
</div>
<ng-container *ngIf="gridData.length > 0">
  <app-pagination [pageLimitArray]="pageLimitArray" [count]="totalRecords" class="row" [page]="defaultPage" [perPage]="pageLimit"
    [pagesToShow]="5" (goPrev)="prevPage()" (goNext)="goNext()" (goPage)="moveToPage($event)" (changeInPerPage)="changeLimit($event)"></app-pagination>
</ng-container>