.search { 
    position: relative;
    z-index: -1;
    .fa-search { 
        position: absolute;
        top: 6px;
        right: 10px;
        font-size: 16px;
    }
 }

input[type=text]::-ms-clear {
    display: none;
}
