<app-searchfield [placeholder]="placeholder" (searchTrigger) = "searchData($event)"></app-searchfield>
<button (click)="displayFilterOptions()">Filter</button>
<app-filter-panel [displayPanel]="displayFilterOption" (applyFilter)="applyFilter()" (clearFilter)="clearFilter()"></app-filter-panel>
<app-grid 
  [columnDefs] = "columnDefs" 
  [data]="data" 
  (sortTrigger)="sortGridData($event)"
  [defaultPage] = "defaultPage"
  [pageLimit] = "pageLimit"
  [totalRecords] = "totalRecords"
  (previousPage) = "previousPage($event)"
  (nextPage)="nextPage($event)"
  (goToPage) = "goToPage($event)"
  (pageLimitChange)= "pageLimitChange($event)"
  [pageLimitArray] = "pageLimitArray"></app-grid>

