<div class="container">
  <div class="row">
    <app-searchfield class="col-4" [placeholder]="placeholder" (searchTrigger)="searchData($event)"></app-searchfield>
    <div class="pipe"></div>
    <app-button [cls]="filterButtonClass" (onButtonClick)="displayFilterOptions()"></app-button>
    <app-button [cls]="secondaryButtonClass" [text]="generatePoText" [disabled]="selectedArray.length == 0" (onButtonClick)="generatePO()"></app-button>
    <app-button [cls]="secondaryButtonClass" [text]="redirectText" [disabled]="selectedArray.length == 0" (onButtonClick)="redirect()"></app-button>
  </div>
  <div class="row" [hidden]="!displayFilterOption">
    <div class="col">

      <div class="card filter-panel">
        <div class="card-body">
          <app-filter-panel [displayPanel]="displayFilterOption" (applyFilter)="applyFilter()" (clearFilter)="clearFilter()">
            <form [formGroup]="myForm" class="row">
              <div class="form-group col-2">
                <label for="soId">Sales Order Id:</label>
                <input formControlName="orderId" id="soId" name="soId" placeholder="SOID" class="form-control">
              </div>
              <!-- <div class="form-group col-2">
            <label for="issuer">Issuer:</label>
            <input formControlName="issuer" id="issuer" name="issuer" placeholder="Issuer" class="form-control">
          </div>
          <div class="form-group col-2">
            <label for="issuerid">Issuer Id:</label>
             <input formControlName="issuerid" id="issuerid" name="issuerid" class="form-control" placeholder="Issuer Id">
          </div>-->
              <div class="form-group col-3">
                <label for="volumeFrom">Volume:</label>
                <div class=""><input formControlName="volumeFrom" id="volumeFrom" class="form-control col-5 pull-left" type="number">
                  <div
                    class=" pull-left">to</div><input class="form-control col-5 pull-left" formControlName="volumeTo" type="number"></div>
        </div>
        <div class="form-group col-3">
          <label for="fromDate">Delivery Date:</label>
          <div>
            <input formControlName="fromDate" id="fromDate" type="text" [bsConfig]="dateFromPickerConfig"  placeholder="Datepicker" class="form-control pull-left col-5"
              bsDatepicker readonly>
            <div class=" pull-left">to</div>
            <input formControlName="toDate" type="text" placeholder="Datepicker" [bsConfig]="dateToPickerConfig" class="form-control col-5 pull-left" bsDatepicker readonly>
          </div>
        </div>
        <div class="form-group col-2">
          <label for="fromDate">Status:</label>
          <select formControlName="status" class="form-control">
              <option value="Queued">Queued</option>
          
            </select>
        </div>

        </form>
        </app-filter-panel>
      </div>
    </div>
  </div>
</div>


<app-grid [columnDefs]="columnDefs" [data]="data" (sortTrigger)="sortGridData($event)" [defaultPage]="defaultPage" [pageLimit]="pageLimit"
  [totalRecords]="totalRecords" (previousPage)="previousPage($event)" (nextPage)="nextPage($event)" (goToPage)="goToPage($event)"
  (pageLimitChange)="pageLimitChange($event)" [pageLimitArray]="pageLimitArray" (allChecked)="allSOSelected($event)" (rowSelected)="rowSelected($event)"></app-grid>