<div class="container-fluid" style="margin-top:100px" id="print-section">

  <app-button class="pull-right personalize-btn" [text]="personalizeButton" [cls]="buttonClass"></app-button>
  <div class="clearfix"></div>
  <div class="card">
    <div class="card-body">
      <div class="row" *ngFor="let cardPersonalization of cardPersonalization; let i = index;">

        <div class="col-sm-4">
          <app-cards>
            <div class="row">
              <div class="col-md-4 border-right">
                <p><b>{{ cardPersonalization.no_of_cards }}</b> <small>No. Of cards to be printed</small></p>
                <p><b>{{ cardPersonalization.no_of_cards }}</b> <small>No. Of cards to be printed</small></p>
                <p><b>{{ cardPersonalization.no_of_cards }}</b> <small>No. Of cards to be printed</small></p>
              </div>
              <div class="col-md-6">
                <p><small>Schedule</small></p>
                <small>  <p>Delivery Date  :  {{ cardPersonalization.date }} </p> </small>
              </div>
            </div>
          </app-cards>
        </div>

        <div class="col-sm-4">
          <app-cards>
            <div class="row">
              <div class="col-md-4 border-right">
                <p> <img src="./assets/images/{{cardPersonalization.image}}" />
                </p>
                <p> <img src="./assets/images/{{cardPersonalization.image}}" />
                </p>
              </div>
              <div class="col-md-8">
                <p><small>Program</small></p>
                <small>  <p>{{ cardPersonalization.program }}</p> </small>
              </div>
            </div>
          </app-cards>
        </div>

        <div class="col-sm-4">
          <app-cards>
            <div class="row">
              <div class="col-md-5 border-right">
                <i class="fa fa-print" style="font-size:48px;color:black"></i>
              </div>
              <div class="col-md-6">
                <p><small>Assigned Printer</small></p>
                <p> {{ cardPersonalization.card_available }}</p>
              </div>
            </div>
          </app-cards>
        </div>

        <div *ngIf="opendDivId == i && !showHidePersonalItems" class="col-lg-2 col-sm-6">
          <app-cards [isCheckBoxtoChild]="isCheckBox" class="small-card"> XXXX 1234</app-cards>
        </div>
        <div *ngIf="opendDivId == i && !showHidePersonalItems" class="col-lg-2 col-sm-6">
          <app-cards [isCheckBoxtoChild]="isCheckBox" class="small-card"> XXXX 1234</app-cards>
        </div>
        <div *ngIf="opendDivId == i && !showHidePersonalItems" class="col-lg-2 col-sm-6">
          <app-cards [isCheckBoxtoChild]="isCheckBox" class="small-card"> XXXX 1234</app-cards>
        </div>
        <div *ngIf="opendDivId == i && !showHidePersonalItems" class="col-lg-2 col-sm-6">
          <app-cards [isCheckBoxtoChild]="isCheckBox" class="small-card"> XXXX 1234</app-cards>
        </div>
        <div *ngIf="opendDivId == i && !showHidePersonalItems" class="col-lg-2 col-sm-6">
          <app-cards [isCheckBoxtoChild]="isCheckBox" class="small-card"> XXXX 1234</app-cards>
        </div>
        <div *ngIf="opendDivId == i && !showHidePersonalItems" class="col-lg-2 col-sm-6">
          <app-cards [isCheckBoxtoChild]="isCheckBox" class="small-card"> XXXX 1234</app-cards>
        </div>
        <div *ngIf="opendDivId == i && !showHidePersonalItems" class="col-lg-2 col-sm-6">
          <app-cards [isCheckBoxtoChild]="isCheckBox" class="small-card"> XXXX 1234</app-cards>
        </div>
        <div *ngIf="opendDivId == i && !showHidePersonalItems" class="col-lg-2 col-sm-6">
          <app-cards [isCheckBoxtoChild]="isCheckBox" class="small-card"> XXXX 1234</app-cards>
        </div>
        <div *ngIf="opendDivId == i && !showHidePersonalItems" class="col-lg-2 col-sm-6">
          <app-cards [isCheckBoxtoChild]="isCheckBox" class="small-card"> XXXX 1234</app-cards>
        </div>
        <div *ngIf="opendDivId == i && !showHidePersonalItems" class="col-lg-2 col-sm-6">
          <app-cards [isCheckBoxtoChild]="isCheckBox" class="small-card"> XXXX 1234</app-cards>
        </div>
        <div *ngIf="opendDivId == i && !showHidePersonalItems" class="col-lg-2 col-sm-6">
          <app-cards [isCheckBoxtoChild]="isCheckBox" class="small-card"> XXXX 1234</app-cards>
        </div>
        <div *ngIf="opendDivId == i && !showHidePersonalItems" class="col-lg-2 col-sm-6">
          <app-cards [isCheckBoxtoChild]="isCheckBox" class="small-card"> XXXX 1234</app-cards>
        </div>

        <a (click)="toggleProductionItems(i);" href="javascript:void(0);">Show all PI's</a>

      </div>
    </div>
  </div>
</div>