<div class="container" [hidden]="redirectView">

  <div class="row page-title">
    <div class="col-sm-6 ">
      <h1>Production Order Details</h1>
    </div>
    <div class="col-sm-6 ">
      <app-button class="pull-right" [disabled]="redirectDisabled" [text]="redirectButton" (click)="redirectPI($event)" [cls]="secondaryButtonClass"></app-button>
      <app-button class="pull-right" [text]="personalizeButton" (click)="personalise($event)" [cls]="masterButtonClass"></app-button>


    </div>
  </div>
   <div class="row">
      <div class="col-12 col-md-2">
        <p><span class="bold">PO #</span> 1234 </p>
      </div>
      <div class="col-3 col-md-1">
        <p>Queued </p>
      </div>
      <div class="col-md-6 col-9">
        <app-progress-status [progressStatus]="passProgressStatus"></app-progress-status>
      </div>
    </div>
<div class="row">
      <div class="col-sm-4">
        <app-cards [cls]="poCardClass" [isCheckBoxtoChild]="isCheckBox">
          <div class="row">
            <div class="col-3 text-right">
              <h5>25</h5>
            </div>
            <div class="col-9 ">
              <p>No of cards to be printed</p>
            </div>
          </div>
          <div class="row">
            <div class="col-3 text-right">
              <h5>35</h5>
            </div>
            <div class="col-9">
              <p>No of cards available</p>
            </div>
          </div>
          <div class="row">
            <div class="col-3 text-right">
              <h5>100</h5>
            </div>
            <div class="col-9">
              <p>Maximum cards that can be printed</p>
            </div>
          </div>
        </app-cards>
      </div>

      <div class="col-sm-4">
        <app-cards [cls]="poCardClass" [isCheckBoxtoChild]="isCheckBox">
          <div class="row">
            <div class="col-4 border-right">
              <p> <img src="./assets/images/credit-card-1.jpg">
              </p>
              <p> <img _ngcontent-c1="" src="./assets/images/credit-card-1.jpg">
              </p>
            </div>
            <div class="col-8">
              <p>Programs</p>
              <p>Gold Tipping Foil</p>
              <p>Standard Debit Card Design</p>
              <p>Carrier Template # 1</p>
              <p>CMYK Ribbon</p>
            </div>
          </div>
        </app-cards>
      </div>

      <div class="col-sm-4">
        <app-cards [cls]="poCardClass" [isCheckBoxtoChild]="isCheckBox">
          <div class="row">
            <div class="col-6  border-right">
              <p>Assigned printer</p>
              <p>Matica Printer S3500</p>
              <p>Input hopper #1, 100</p>
              <p>Maximum Cards that can be Printed</p>
            </div>
            <div class="col-5 small">
              <p>Delivery Date</p>
              <p>05-June-18</p>
              <p>2 days to go</p>
            </div>
          </div>
        </app-cards>
      </div>
    </div>
  
  <hr/>
  <div class="row">
    <div class="col-sm-3">
    
      <app-searchfield [placeholder]="searchplaceholder" (searchTrigger)="performFilter($event)"></app-searchfield>
    </div>

    <div class="col-sm-4">
      <div class="alert alert-success text-center" *ngIf="!redirectDisabled">
        {{fetchSelectedPIS().length}} Cards Selected
      </div>
    </div>


  </div>
  <div class="row" *ngIf="!redirectDisabled">
    <div class="col-sm-12 selected-text">Selected cards:</div>
    <div class="col-sm-2 col-6" *ngFor="let card of filteredCards | myfilter : true" #selectedcard>
      <app-cards (recordSelected)="recordSelected($event)" [cardDetail]='card'>
        <div class="text-center">{{card.pan}}</div>
      </app-cards>
    </div>
   
    <div class="col-sm-12"><hr/></div>
    
  </div>

  <div class="row">
    <div class="col-sm-2 col-6" *ngFor="let card of filteredCards | myfilter  :false">
      <app-cards (recordSelected)="recordSelected($event)" [cardDetail]='card'>
       <div class="text-center">{{card.pan}}</div>
      </app-cards>
    </div>
    <ng-container *ngIf="(filteredCards | myfilter : false).length ===0">
      <div class="col-sm-12 text-center">
        <div class="alert alert-danger">
        No Record available.
        </div>
      </div>
    </ng-container>
  </div>

</div>
<div *ngIf="redirectView">
  <app-reassign  [parentCmp]="parentCmp" [selectedKey]="selectedKey" [headerText]="redirectHeaderText" [selectionText]="selectedString" [selectionArray]="redirectSelectedArray"
    (redirectTrigger)="redirectTrigger()" (onCancelClick)="onCancel()"></app-reassign>
</div>