.filter-panel .card-body{
    padding: 30px 20px 20px 30px
}
.pipe{
    width: 1px;
    background: #c5c5c5;
    height: 26px;
    float: left;
}
select.form-control:not([size]):not([multiple]){
    height: 30px
}
.filter-panel{
    -webkit-box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.2);
    margin-top: 15px
}
.filter-button{
    background: none;
    border: none;
    
}
.search-row{
     margin-bottom: 15px
}
.to-text{
       padding-top: 32px;
}
.blank-labels{
    margin-top: 8px
}
@media (max-width: 767px) {
.filter-panel{
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left:0;
    z-index: 999;
    margin: 0;
    
}
}