<div *ngFor="let item of data" class="d-sm-none">
  <app-cards (recordSelected)="recordSelected($event)" [cardDetail]='item'>
    <div class="container">
      <div class="row">
        <ng-container *ngFor="let cfg of config">
          <div class="col-6">
            {{cfg.orderLabel}} - {{item[cfg.orderKey]}}
          </div>
        </ng-container>
      </div>
    </div>
  </app-cards>
</div>
<ng-container *ngIf="data.length == 0">
  <td colspan="9">
    <p>{{noRecord}}</p>
  </td>
</ng-container>