

/* Body Part Basic Properties */
$_body-font-size: 16px;
$_body-margin: 0px;
$_body-padding: 0px;
$_body-font-stack: Helvetica, Sans-serif;
$_body-background-color: #FFE4C4;


/* Button's Variable for Login   */
$_btn-height: 30px;
$_btn-width:  80px;
$_btn-border: 2px solid green;
$_btn-font-size: 12px;
$_btn-background:#FF7E00; 
$_btn-border-radius: 0%;
$_btn-text-color: #fff;


/* Button's Variable for Register  */
$_btn-height_signup: 50px;
$_btn-width_signup:  160px;
$_btn-border_signup: 0px solid orange;
$_btn-font-size_signup: 16px;
$_btn-background_signup: orange; 
$_btn-border-radius_signup: 5%;
$_btn-text-color_signup: #fff;

/* Grid style variables*/
$_font-semibold: OpenSans-Semibold;
$_table-font-size:14px;
$_table-header-color: #395961;
$_table-row-color: #333333;
$_font-light:OpenSans-Light;
$_table-header-padding:26px 20px;
$_border-none:none;
$_table-header-border:2px solid #c6c6c6;
$_normal-line-height:1;
$_table-row-padding:12px 20px;
$_card-box-shadow:1px 0px 3px 0px rgba(0,0,0,0.2);