@import './_variables';
@import './_mixins';
@import './_variables';
$_font-semibold: OpenSans-Semibold;
/* Default body parameters */
// {
//     font-size: $_body-font-size;
//     font-family: $_body-font-stack;
//     margin: $_body-margin;
//     padding: $_body-padding;
//     background-color: $_body-background-color
// }

/* Master button */
.btn-master {
    @include btn-configuration($_btn-height,$_btn-width,$_btn-radius,$_btn-background,$_btn-font-size,$_btn-border-radius,$_btn-text-color); 
 }
.btn-secondary {
    @include btn-configuration($_btn-height,$_btn-width,$_btn-radius,$_btn-background-sec,$_btn-font-size,$_btn-border-radius,$_btn-text-color); 
 }
 input.form-control, select.form-control {
    height: 30px;
    line-height: 1;
    padding: 0 10px;
}
.po-cards{
    background: #fbf6f6;
}
