@import './_variables';
@import './_mixins';
@import './_variables';
@import './_typography';
@import './grid';

/* Master button */
.btn-master {
    @include btn-configuration($_btn-height,$_btn-width,$_btn-radius,$_btn-background,$_btn-font-size,$_btn-border-radius,$_btn-text-color); 
 }
 
.btn-secondary {
    @include btn-configuration($_btn-height,$_btn-width,$_btn-radius,$_btn-background-sec,$_btn-font-size,$_btn-border-radius,$_btn-text-color); 
 }
.btn-master:hover {
     @include btn-configuration($_btn-height,$_btn-width,$_btn-radius,$_btn-background-hover,$_btn-font-size,$_btn-border-radius,$_btn-text-color); 
}
.btn-master:disabled {
     @include btn-configuration($_btn-height,$_btn-width,$_btn-radius,$_btn-background-disabled,$_btn-font-size,$_btn-border-radius,$_btn-text-color); 
}
.btn-secondary:hover {
    @include btn-configuration($_btn-height,$_btn-width,$_btn-radius,$_btn-background-sec-hover,$_btn-font-size,$_btn-border-radius,$_btn-text-color); 
 }
.btn-secondary:disabled {
    @include btn-configuration($_btn-height,$_btn-width,$_btn-radius,$_btn-background-sec-disabled,$_btn-font-size,$_btn-border-radius,$_btn-text-color); 
 }

 input.form-control, select.form-control {
    height: 30px;
    line-height: 1;
    padding: 0 10px;
    font-size: $_standard-font-size;
}

.po-cards{
    background: #fbf6f6;
    margin-top: 3px;
        font-size: 13px;
    padding: 10px;

}
body,p span{
     font-family: $_font-regular;
    font-size: 14px;
}

.fa-search:before {
    content: "";
    background: #fff;
    display: inline-block;
    height: 20px;
    width: 16px;
    padding-left: 4px;
}

h1{
    font-family: $_font-light;
    font-size: 18px;
    color: #333;
}
.bold{
    font-family: $_font-bold;
}
a,a:hover{
    font-size: $_standard-font-size;
    text-decoration: $_border-none;
}
/* .page-title{
    padding: 25px 0;
} */
.filter-panel label{
    font-size: 11px;
    color: #666;
    font-family: $_font-light;
    margin-bottom: 10px;
}
input.form-control::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    text-transform: lowercase;
    text-transform: capitalize;
    font-size: $_standard-font-size;
   // opacity: 1; /* Firefox */
}

.search input.form-control::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    text-transform: none;
}

input[type=number]::-webkit-inner-spin-button, 

input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.card-body{
   padding:  5px 10px;
}
.came-case{
    display: inline-block;
    text-transform: lowercase;
}
.came-case::first-letter{
    text-transform: capitalize;
}
.alert{
    padding: 4px
}
.side-bar-nav{
    font-family: $_font-semibold;
}
.wrapper{
    margin:60px 0 0 90px
}
@media (min-width: 1200px)
{
.container {
    max-width: 100%;
    padding: 25px 30px;
}
}
@media (max-width:767px) {

.so-buttons button.btn-secondary{
  margin: 10px 0;
}

}

